.navbar {
    height: 5rem;
    width: 100%;
    background-color: rgb(30, 30, 30);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 100vw;
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 15px;
}

.nav-menu li {
    position: relative;
    padding-bottom: 15px; /* Add padding to create space for the underline */
}

.nav-menu p {
    margin: 0;
    cursor: pointer;
}

.nav-menu img {
    position: absolute;
    bottom: 0; /* Place the underline at the bottom of the li element */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Ensure it covers the width of the text */
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-connect {
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.logo {
    object-fit: contain;
    height: 6rem;
    width: auto;
}
.menu-icon{
    display: none;
}

@media screen and (max-width: 720px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        display: none; /* Hide the nav menu by default on mobile screens */
    }
    .show-mobile-menu {
        display: flex; /* Show the nav menu when the menu is toggled */
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .nav-connect {
        /* margin-top: 1rem; */
        display: none;
    }
}

.menu-icon {
    display: none; /* Hide by default and show only on mobile screens */
}
